build/
.vscode/
.vs/
.idea/
*.old
*.dll
*.exe
*.zip
*.wav
.DS_Store
root_dev/
root_dev_srv/
Folder.DotSettings.user
CMakeSettings.json
poggers_decoder
m17_decoder/libcorrect
SDR++.app
android/deps
android/app/assets
source_modules/dragonlabs_source
source_modules/badgesdr_source
decoder_modules/mystery_decoder
decoder_modules/tetra_decoder